/*Style for home page*/

@use "../abstracts/vars";
@use "../base/typography";
@use "../abstracts/mixins";

li {
  list-style-type: none;
}

#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$dark;
  height: 100vh;

  p {
    color: white;
    margin: 0;
  }
}

#about {
  p {
    /* font-size: 2.875rem; */

    margin: auto;
    padding-block: 5rem;
    font-size: 1.7rem;
    padding-inline: 1.25rem;

    @include mixins.for-tablet-portrait {
      padding-block: 11rem;
      font-size: 3rem;
    }
  }
}

#projects {
  margin: 1.25rem;
  margin-block-start: 3rem;

  @include mixins.for-tablet-portrait {
    margin-block-start: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
}
/* 
.thumbnail {
  max-width: 940px;
  width: 100%;
  height: 100%;
} */

.container {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin-block: 1.25rem;

  #display_text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 100%;
    max-width: 25rem;
    text-align: center;
  }

  p,
  h2 {
    color: vars.$light;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-inline: auto;
  }

  h2 {
    font-size: 2.5rem;
    width: 100%;
  }

  p {
    font-size: 1.25rem;
    margin-block-start: 0.5rem;
  }

  @include mixins.for-tablet-portrait {
    margin-block: 0;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: #fd2062aa;
}

.container:hover .overlay {
  opacity: 100%;
}

#banner {
  p {
    font-size: 5rem;
    color: vars.$accent;
    opacity: 69%;
    font-weight: bold;
    /*   margin-block-end: 11rem; */
  }
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 20px auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  color: vars.$accent;
  opacity: 69%;
  font-size: 4rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
